<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fzu.cloudsign.project.syssettings.mapper.SysSettingsMapper">
    
    <resultMap type="SysSettings" id="SysSettingsResult">
        <result property="sysSettingsId"    column="sys_settings_id"    />
        <result property="eachSignExp"    column="each_sign_exp"    />
        <result property="eachSignTime"    column="each_sign_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysSettingsVo">
        select sys_settings_id, each_sign_exp, each_sign_time, status, create_by, create_time, update_by, update_time, remark from sys_settings
    </sql>

    <select id="selectSysSettingsList" parameterType="SysSettings" resultMap="SysSettingsResult">
        <include refid="selectSysSettingsVo"/>
        <where>  
            <if test="eachSignExp != null "> and each_sign_exp = #{eachSignExp}</if>
            <if test="eachSignTime != null "> and each_sign_time = #{eachSignTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysSettingsById" parameterType="Long" resultMap="SysSettingsResult">
        <include refid="selectSysSettingsVo"/>
        where sys_settings_id = #{sysSettingsId}
    </select>
        
    <insert id="insertSysSettings" parameterType="SysSettings">
        insert into sys_settings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysSettingsId != null ">sys_settings_id,</if>
            <if test="eachSignExp != null ">each_sign_exp,</if>
            <if test="eachSignTime != null ">each_sign_time,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysSettingsId != null ">#{sysSettingsId},</if>
            <if test="eachSignExp != null ">#{eachSignExp},</if>
            <if test="eachSignTime != null ">#{eachSignTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysSettings" parameterType="SysSettings">
        update sys_settings
        <trim prefix="SET" suffixOverrides=",">
            <if test="eachSignExp != null ">each_sign_exp = #{eachSignExp},</if>
            <if test="eachSignTime != null ">each_sign_time = #{eachSignTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where sys_settings_id = #{sysSettingsId}
    </update>

    <delete id="deleteSysSettingsById" parameterType="Long">
        delete from sys_settings where sys_settings_id = #{sysSettingsId}
    </delete>

    <delete id="deleteSysSettingsByIds" parameterType="String">
        delete from sys_settings where sys_settings_id in 
        <foreach item="sysSettingsId" collection="array" open="(" separator="," close=")">
            #{sysSettingsId}
        </foreach>
    </delete>
    
</mapper>