<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fzu.cloudsign.project.sysdict.mapper.DictDataMapper">
    
    <resultMap type="DictData" id="DictDataResult">
        <result property="dictDataId"    column="dict_data_id"    />
        <result property="dictDataSort"    column="dict_data_sort"    />
        <result property="dictLabel"    column="dict_label"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="dictType"    column="dict_type"    />
        <result property="listClass"    column="list_class"    />
        <result property="isDefault"    column="is_default"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDictDataVo">
        select dict_data_id, dict_data_sort, dict_label, dict_value, dict_type, list_class, is_default, status, create_by, create_time, update_by, update_time, remark from sys_dict_data
    </sql>

    <select id="selectDictDataList" parameterType="DictData" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        <where>  
            <if test="dictDataSort != null "> and dict_data_sort = #{dictDataSort}</if>
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null  and dictValue != ''"> and dict_value = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="listClass != null  and listClass != ''"> and list_class = #{listClass}</if>
            <if test="isDefault != null  and isDefault != ''"> and is_default = #{isDefault}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDictDataById" parameterType="Long" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        where dict_data_id = #{dictDataId}
    </select>
        
    <insert id="insertDictData" parameterType="DictData" useGeneratedKeys="true" keyProperty="dictDataId">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictDataSort != null ">dict_data_sort,</if>
            <if test="dictLabel != null  and dictLabel != ''">dict_label,</if>
            <if test="dictValue != null  and dictValue != ''">dict_value,</if>
            <if test="dictType != null  and dictType != ''">dict_type,</if>
            <if test="listClass != null  and listClass != ''">list_class,</if>
            <if test="isDefault != null  and isDefault != ''">is_default,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictDataSort != null ">#{dictDataSort},</if>
            <if test="dictLabel != null  and dictLabel != ''">#{dictLabel},</if>
            <if test="dictValue != null  and dictValue != ''">#{dictValue},</if>
            <if test="dictType != null  and dictType != ''">#{dictType},</if>
            <if test="listClass != null  and listClass != ''">#{listClass},</if>
            <if test="isDefault != null  and isDefault != ''">#{isDefault},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDictData" parameterType="DictData">
        update sys_dict_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictDataSort != null ">dict_data_sort = #{dictDataSort},</if>
            <if test="dictLabel != null  and dictLabel != ''">dict_label = #{dictLabel},</if>
            <if test="dictValue != null  and dictValue != ''">dict_value = #{dictValue},</if>
            <if test="dictType != null  and dictType != ''">dict_type = #{dictType},</if>
            <if test="listClass != null  and listClass != ''">list_class = #{listClass},</if>
            <if test="isDefault != null  and isDefault != ''">is_default = #{isDefault},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where dict_data_id = #{dictDataId}
    </update>

    <delete id="deleteDictDataById" parameterType="Long">
        delete from sys_dict_data where dict_data_id = #{dictDataId}
    </delete>

    <delete id="deleteDictDataByIds" parameterType="String">
        delete from sys_dict_data where dict_data_id in 
        <foreach item="dictDataId" collection="array" open="(" separator="," close=")">
            #{dictDataId}
        </foreach>
    </delete>
    
    <select id="queryDictDataByType" parameterType="String" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        <where>  
            <if test="_parameter != null  and _parameter != ''"> and dict_type = #{dictType}</if>
            and status = 0
        </where>
    </select>
    
</mapper>